@font-face {
  font-family: "Poppins-Regular";
  src: url(../mobileui/fonts/Poppins-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins-Regular";
}

.btn-submit {
  text-align: center;
  padding: 2px 0;
  font-weight: 600;
  border-radius: 5px;
}

.btn-active {
  background-color: #ffc700;
  color: #000000;
}

.btn-inactive {
  background-color: #8d92a3;
  color: #ffffff;
}

/* Splash */
.splash,
.page-notif {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.splash .img-splash {
  width: 100px;
}

.splash .title-splash {
  margin-top: 20px;
  font-size: 32px;
}

/* Home */
.box-title {
  padding: 30px 24px 24px;
}

.list {
  padding: 0 10px;
}

.box-title h1 {
  font-size: 22px;
  color: #000000;
  font-weight: 700;
}

.box-title p {
  font-size: 14px;
  color: #8d92a3;
}

.textfield {
  color: #000000;
}
